$TEXT_SIZE_SMALL: unit(3.5);
$TEXT_SIZE_NORMAL: unit(4);
$TEXT_SIZE_LARGE: unit(4.5);
$TEXT_SIZE_EXTRA_LARGE: unit(5);
$TEXT_SIZE_1P5_EXTRA_LARGE: unit(5.5);
$TEXT_SIZE_2_EXTRA_LARGE: unit(6);
$TEXT_SIZE_2P5_EXTRA_LARGE: unit(6.75);
$TEXT_SIZE_3_EXTRA_LARGE: unit(7.5);
$TEXT_SIZE_4_EXTRA_LARGE: unit(9);
$TEXT_SIZE_5_EXTRA_LARGE: unit(12);
$TEXT_SIZE_8_EXTRA_LARGE: unit(24);
$TEXT_SIZE_9_EXTRA_LARGE: unit(32);
$TEXT_SIZE_10_EXTRA_LARGE: unit(48);
